<div class='buttons-container'>
  <img src='/images/beer.png' alt='Beer Image' width='300' />
  <a href='/beers' class='btn'>Check the Beers!</a>
  <a href='/random-beer' class='btn'>Check a Random Beer</a>
</div>