
    {{> beerpartial}}
    <p class="food-pairing"><strong>Food Pairing:</strong>
      {{#each beer.food_pairing}}{{this}} {{/each}}</p>
    <p class="brewer-tips"><strong>Brewer Tips:</strong> {{beer.brewers_tips}}</p>
  </div>
</div>

